<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
        <add key="Environment" value="Dev" />

        <add key="LogFolder" value="C:\Logs\Dev\" />
        <add key="BackupFolder" value="C:\Data\Backup\"/>

        <!-- SMTP -->
        <add key="SmtpServer" value="AddSmtpUrlHere" />
        <add key="MailFromAddress" value="AddSenderEmailAddressHere" />
        <add key="MailToAddress" value="AddRecipientEmailAddressHere" />
        <add key="MailSubject" value="File Transfer Batch DEV" />

        <!-- Book Library SFT -->
        <add key="SftBookLibraryHostName" value="AddHostNameHere"/>
        <add key="SftBookLibraryPort" value="AddPortNumberHere"/>
        <add key="SftBookLibraryUsername" value="AddUsernameHere" />
        <add key="SftBookLibraryPassword" value="AddPasswordHere" />
      
        <!-- Bookstore SFT -->
        <add key="SftBookstoreHostName" value="AddHostNameHere"/>
        <add key="SftBookstorePort" value="AddPortNumberHere"/>
        <add key="SftBookstoreUsername" value="AddUsernameHere" />
        <add key="SftBookstorePassword" value="AddPasswordHere" />

        <!-- Book Library Data Transfer to Bookstore -->
        <add key="EncyclopediaBookSourceFolder" value="/BookLibrary/Encyclopedia"/>
        <add key="EncyclopediaBookDownloadFolder" value="C:\Data\Downloads\BookLibrary\"/>
        <add key="EncyclopediaBookDestinationFolder" value="/Bookstore/Encyclopedia"/>
    </appSettings>
</configuration>